<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form id="createUserForm">
        <input type="text" id="username" required placeholder="username">
        <input type="text" id="email" required placeholder="e-mail">
        <input type="text" id="password" required placeholder="password">
        <button>Register</button>
    </form>
    <a href="/login">Already have an account?</a>
</body>
<script src="./js/app.js"></script>

</html>