<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>EDIT ANYTHING</h2>
    <img src="" alt="heok">
    <h1 id="userInfo">Heok</h1>
    <input type="file" id="file" accept="image/*" />
</body>
<script src="./js/userEdit.js"></script>

</html>